services:
  postgres:
    image: postgres:16-alpine
    container_name: s3_innovate_db
    environment:
      POSTGRES_DB: s3_innovate
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
